mk
DevOpsNotes-main/*

DevOpsNotes-main.zip
be-tech-scrum-devops/*
week3/tutor 
week3/hello.html
week4/Screenshot 2024-02-15 at 9.16.37 am.png

week2/.DS_Store
week3/.DS_Store
.DS_Store
week4/jenkins_home