mk
DevOpsNotes-main/*

DevOpsNotes-main.zip
be-tech-scrum-devops/*
week3/tutor 
week3/hello.html
week4/Screenshot 2024-02-15 at 9.16.37 am.png

week2/.DS_Store
week3/.DS_Store


week4/jenkins_home
.DS_Store
.gitignore
week3/.DS_Store
week4/.DS_Store
week5/note.md
week6/.DS_Store
week7/.terraform.lock.hcl
week7/terraform.tfstate
week7/terraform.tfstate.backup
week7/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.2/darwin_arm64/terraform-provider-null_v3.2.2_x5
week7/ex-foreach/.terraform.lock.hcl
week7/ex-foreach/terraform.tfstate
week7/ex-foreach/.terraform/providers/registry.terraform.io/hashicorp/aws/5.40.0/darwin_arm64/terraform-provider-aws_v5.40.0_x5
week7/ex2-foreach/.terraform.lock.hcl
week7/ex2-foreach/terraform.tfstate
week7/ex2-foreach/.terraform/providers/registry.terraform.io/hashicorp/aws/5.40.0/darwin_arm64/terraform-provider-aws_v5.40.0_x5
week7/ex2-var/.terraform.lock.hcl
week7/ex2-var/terraform.tfstate
week7/ex2-var/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.2/darwin_arm64/terraform-provider-null_v3.2.2_x5
week7/step1/.terraform.lock.hcl
week7/step1/terraform.tfstate
week7/step1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.40.0/darwin_arm64/terraform-provider-aws_v5.40.0_x5
week7/step5/.terraform.lock.hcl
week7/step5/deployer-key.pem
week7/step5/deployer-key.pem.pub
week7/step5/terraform.tfstate
week7/step5/terraform.tfstate.backup
week7/step5/.terraform/providers/registry.terraform.io/hashicorp/aws/5.40.0/darwin_arm64/terraform-provider-aws_v5.40.0_x5
week8/.DS_Store
week8/code/__init__.py
week8/code/.gitignore
week8/code/docker-compose-infra.yml
week8/code/docker-compose.yml
week8/code/Dockerfile
week8/code/config/prometheus/prometheus.yml
week8/code/src/app_helper.py
week8/code/src/flask_app.py
week8/code/src/requirements.txt
week8/prometheus-2.50.1.darwin-amd64/LICENSE
week8/prometheus-2.50.1.darwin-amd64/NOTICE
week8/prometheus-2.50.1.darwin-amd64/prometheus
week8/prometheus-2.50.1.darwin-amd64/prometheus.yml
week8/prometheus-2.50.1.darwin-amd64/promtool
week8/prometheus-2.50.1.darwin-amd64/console_libraries/menu.lib
week8/prometheus-2.50.1.darwin-amd64/console_libraries/prom.lib
week8/prometheus-2.50.1.darwin-amd64/consoles/index.html.example
week8/prometheus-2.50.1.darwin-amd64/consoles/node-cpu.html
week8/prometheus-2.50.1.darwin-amd64/consoles/node-disk.html
week8/prometheus-2.50.1.darwin-amd64/consoles/node-overview.html
week8/prometheus-2.50.1.darwin-amd64/consoles/node.html
week8/prometheus-2.50.1.darwin-amd64/consoles/prometheus-overview.html
week8/prometheus-2.50.1.darwin-amd64/consoles/prometheus.html
week8/prometheus-2.50.1.darwin-amd64/data/queries.active
week8/prometheus-2.50.1.darwin-amd64/data/chunks_head/000001
week8/prometheus-2.50.1.darwin-amd64/data/wal/00000000
week8/prometheus-2.50.1.darwin-amd64/data/wal/00000001
week8/prometheus-2.50.1.darwin-amd64/data/wal/00000002
week8/prometheus-2.50.1.darwin-amd64/data/wal/00000003
week3/.DS_Store
week4/.DS_Store
week6/.DS_Store
week7/.DS_Store
week8/.DS_Store
be-tech-scrum-devops/
goexpert_handson/
kewei zhang/
week4/openhack-devops-team/
week4/website-visit-count/


.DS_Store
